.hidden {
    display: none;
}

body { 
    margin: 0;
    /* background-image: url(test.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이를 100%로 설정 */
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#Content {
    width: 1000px;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.65);
    margin: auto;
    border-radius: 15px;
    overflow: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 스크롤바 없애기 */
    scrollbar-width: none; /* 파이어폭스 스크롤바 없애기 */
    display: flex;
}

#Content::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 스크롤바 없애기 */
}

#clock {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 20px;
}

#left-content {
    margin-left: 100px;
    margin-right: 100px;
    width: 300px;
}

#writeTodo {
    width: 400px;
    height: 65px;
    margin-top: 70px;
    background-color: rgb(232, 213, 255);
    border: 0px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
}

#list {
    width: 400px;
    height: 400px;
    background-color: white;
    margin-top: 20px;
}

#todo-list {
    list-style: none;
    font-size: 28px;
    display: inline-block;
    margin-top: 20px;
}

span {
    display: inline-block;
    margin-top: 10px;
}

button {
    padding: 1px;
    margin-left: 10px;
}


#greeting {
    font-size: 40px;
    margin: 0px;
}

h3 {
    font-size: 20px;
    margin: 0px;
}

#quote {
    width: 300px;
    height: 120px;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.532);
    margin-top: 50px;
}

#quote p:first-child {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin-left: 5px;
    margin-bottom: 0px;
}

#quote p:last-child {
    margin-top: 5px;
}

h4 {
    font-size: 23px;
    margin: 0px;
    margin-bottom: 20px;
}

#name {
    width: 200px;
    height: 28px;
    font-size: 20px;
}

#button {
    height: 28px;
    margin-left: 15px;
}

#weather-form {
    width: 300px;
    height: 100px;
    background-color: rgb(213, 243, 255);
    margin-top: 20px;
    border-radius: 13px;
}

#comment {
    font-size: 23px;
    font-weight: bold;
    margin: 15px;
}

#city, #weather {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 0px;
}


